node_modules/
.next/
out/
dist/

.env
.env.local
.env.*.local

server-files/
backups/
backups_safe/
*.db
*.db-wal
*.db-shm
*.pak
*.ucas
*.utoc

*.log
logs/

.DS_Store
.vscode/
.idea/
nginx-auth/.htpasswd
**/.env
backups*
