SERVER_NAME=Meu Servidor Conan
SERVER_PASSWORD=***REMOVIDO***
ADMIN_PASSWORD=***REMOVIDO***
RCON_PASSWORD=***REMOVIDO***
MAX_PLAYERS=20
UPDATE_ON_START=true
PUID=1000
PGID=1000
MODS=3731942624
SERVER_REGION=4
MaxNudity=2
# Ativa a checagem automática de atualizações do jogo e dos mods
AUTO_UPDATE=1

# Tempo em segundos entre cada checa (3600 segundos = 1 hora)
UPDATE_CHECK_INTERVAL=3600

# Se um update for encontrado, desliga o jogo imediatamente para aplicar
ALWAYS_UPDATE=1
NudityLevel=2
